.cartera-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.cartera-row span {
    margin-right: 10px;
}

.btn-cartera-activa {
    background-color: #012E40;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cartera-activa:hover {
    background-color: #077EB9;
    transform: scale(1.05);
}