<div class="factura-container">
    <div class="titulo">Orden de Compra - Fraganceys</div>
    <table class="info-table">
        <tr>
            <td><strong>Proveedor:</strong></td>
            <td>{{nombre}}</td>
        </tr>
        <tr>
            <td><strong>Orden N°:</strong></td>
            <td>{{factura}}</td>
        </tr>
        <tr>
            <td><strong>Monto:</strong></td>
            <td>${{monto}}</td>
        </tr>
    </table>
    <div class="mensaje-final">
        Gracias por su colaboración.<br>
        ¿Tienes dudas? Escríbenos a <a href="mailto:angorasystem@gmail.com">angorasystem@gmail.com</a>
    </div>
</div>
